<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistJr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul class="sidenav">
    <!-- <li><a class="active" href="#home">Home</a></li> -->
    <li class="active"><%= link_to 'Home', root_path %></li>
    <!-- <li><a href="#news">Create New Article</a></li> -->
  </ul>
  <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
